<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright (c) 2023 by MILOSZ GILGA <http://miloszgilga.pl>
  ~
  ~ File name: logback-console-appenders.cfg.xml
  ~ Last modified: 10/04/2023, 22:43
  ~ Project name: jwizard-discord-bot
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
  ~ file except in compliance with the License. You may obtain a copy of the License at
  ~
  ~     <http://www.apache.org/license/LICENSE-2.0>
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under
  ~ the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
  ~ OF ANY KIND, either express or implied. See the License for the specific language
  ~ governing permissions and limitations under the license.
  -->

<included>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <property name="consolePattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} > [%-5p] \(%-35.35logger{39}\) : %m%n"/>

    <!-- start of console appenders  -->

    <appender name="appender.console.major" class="ConsoleAppender">
        <filter class="ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${consolePattern}</pattern>
        </encoder>
    </appender>

    <!-- end of console appenders  -->
</included>
