<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright (c) 2023 by MILOSZ GILGA <http://miloszgilga.pl>
  ~
  ~ File name: logback-console-appenders.cfg.xml
  ~ Last modified: 06/04/2023, 12:56
  ~ Project name: jwizard-discord-bot
  ~
  ~ Licensed under the MIT license; you may not use this file except in compliance with the License.
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~ documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
  ~ rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
  ~ permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ THE ABOVE COPYRIGHT NOTICE AND THIS PERMISSION NOTICE SHALL BE INCLUDED IN ALL COPIES OR
  ~ SUBSTANTIAL PORTIONS OF THE SOFTWARE.
  ~
  ~ The software is provided "as is", without warranty of any kind, express or implied, including but not limited
  ~ to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event
  ~ shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an
  ~ action of contract, tort or otherwise, arising from, out of or in connection with the software or the use
  ~ or other dealings in the software.
  -->

<included>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.filter.LevelFilter"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <property name="consolePattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} > [%-5p] \(%-35.35logger{39}\) : %m%n"/>

    <!-- start of console appenders  -->

    <appender name="appender.console.major" class="ConsoleAppender">
        <filter class="LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <filter class="LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>${consolePattern}</pattern>
        </encoder>
    </appender>

    <!-- end of console appenders  -->
</included>