<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2024 by JWizard
  ~ Originally developed by Miłosz Gilga <https://miloszgilga.pl>
  -->
<configuration>
	<property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} > [%-5p] {%thread} \(%-35.35logger{39}\) : %m%n"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
