name: Build and create docker image of JWizard Core

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/docker-image.yml"
      - "gradle/libs.versions.toml"
      - "jwc-*/**"
      - ".dockerignore"
      - "Dockerfile.pipeline"
      - "build.gradle.kts"
      - "gradle.properties"
      - "settings.gradle.kts"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "adopt"
          cache: "gradle"

      - name: Determinate build version
        id: version
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: |
          ./gradlew clean --no-daemon
          ./gradlew test --no-daemon
        env:
          JWIZARD_VERSION: ${{ steps.version.outputs.sha_short }}
          JWIZARD_MAVEN_NAME: ${{ secrets.MVN_LIB_READER_NAME }}
          JWIZARD_MAVEN_SECRET: ${{ secrets.MVN_LIB_READER_SECRET }}

      - name: Package to JAR
        run: |
          ./gradlew clean --no-daemon
          ./gradlew shadowJar --no-daemon
        env:
          JWIZARD_VERSION: ${{ steps.version.outputs.sha_short }}
          JWIZARD_MAVEN_NAME: ${{ secrets.MVN_LIB_READER_NAME }}
          JWIZARD_MAVEN_SECRET: ${{ secrets.MVN_LIB_READER_SECRET }}

      - name: Upload generated JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: output-jar
          path: .bin/jwizard-core.jar
          retention-days: 1

  migrate:
    runs-on: [ self-hosted, network-access ]
    needs: build

    steps:
      - name: Checkout tools repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/jwizard-tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Grand permissions to executable scripts
        run: |
          chmod +x exec/prepare
          chmod +x exec/run-with-config

      - name: Setup Python
        run: exec/prepare

      - name: Run migrator
        run: exec/run-with-config db_migrator \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --pipeline infra

  docker:
    runs-on: ubuntu-latest
    needs: migrate

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download generated JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: output-jar
          path: ${{ github.workspace }}/docker

      - name: Set up builder
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.pipeline
          push: true
          tags: milosz08/jwizard-core:latest
          platforms: linux/amd64,linux/arm64

      - name: Logout from Docker Hub
        run: docker logout

  cache-version:
    runs-on: [ self-hosted, network-access ]
    needs: docker

    steps:
      - name: Checkout tools repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/jwizard-tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Grand permissions to executable scripts
        run: |
          chmod +x exec/prepare
          chmod +x exec/run-with-config

      - name: Setup Python
        run: exec/prepare

      - name: Cache version
        run: exec/run-with-config cache_version \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --repo ${{ github.repository }}
