name: Project analysis

on:
  push:
    branches:
      - master

jobs:
  analyse-project:
    runs-on: [ self-hosted, network-access ]

    steps:
      - name: Checkout tools repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/jwizard-tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Grand permissions to executable scripts
        run: |
          chmod +x exec/prepare
          chmod +x exec/run-with-config

      - name: Setup Python
        run: exec/prepare

      - name: Run project analyzer
        run: exec/run-with-config project_analyzer \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --repo ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
