name: Update packages cache

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/update-packages.yml"
      - "gradle/libs.versions.toml"

jobs:
  update-packages:
    runs-on: [ self-hosted, network-access ]

    steps:
      - name: Checkout tools repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/jwizard-tools
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Grand permissions to executable scripts
        run: |
          chmod +x exec/prepare
          chmod +x exec/run-with-config

      - name: Setup Python
        run: exec/prepare

      - name: Run packages grabber
        run: exec/run-with-config packages_grabber \
          "${{ secrets.CONFIG_FILE_CONTENT }}" \
          --repo ${{ github.repository }}
